<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="31">

<head>
  <title>CS50 Web - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/goodreads.css') }}">

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#">David's CS50 GoodReads App</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <form class="navbar-form navbar-left" role="search" action="/search" method="post">
          <div class="input-group">
          <input name= "search_box" type="text" class="form-control" placeholder="Search: Book, author or ISBN" style="width:220px;">
          <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </div>
      </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">{% block header %}{% endblock %}</p>
          </li>

            {% block login %}



            {% endblock %}

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>



      {% block body %} {% endblock %}


  </body>

</html>
